:root {
  --ion-color-primary: #4b7bec;
  --ion-color-primary-rgb: 75, 123, 236;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #426ad0;
  --ion-color-primary-tint: #5c89ee;

  --ion-background-color: #000814;
  --ion-text-color: #f1f5f9;
}
